{% extends 'home.html' %}

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hello, Admin</h1>
  <p class="lead" style="text-align:center;">Welcome to House Rent Management System.</p>
  <hr class="my-4">
  <p style="text-align:center;">You can access various features after Login/SignUp.</p>
  <p class="lead" style="text-align:center;">
    <a class="btn btn-primary btn-lg" style="text-align:center;" href="/adminlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}