<!DOCTYPE html>
<html>

<head>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <style>
footer{
margin:0;
padding:0;
background-color:Black;
color:white;
height:6rem;
width:100%;
text-align:center;

}
.fa{
  margin-top:20px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #ffea92;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
}

  </style>
</head>

<footer>

  <p>
    <a href="https://www.facebook.com/johnsteve.t.1/" class="fa fa-facebook"></a>

  </p>
<p class="text-footer"> Developed By Najmul Ahsan Rakib &copy; 2020</p>
</footer>

</html>
